body {
  background-color: coral;
}
#content {
  background-image: url(../images/header.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
